<!DOCTYPE html>
<html>
<head>
<title>Creative Colorlib SignUp Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="css/registrationstyle.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
  
                <!-- Gestion des employes  -->
                <div class="row" >
                    <!-- column -->
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="right-page-header">
									<div class="d-flex">
										<div class="align-self-center">
											<h4 class="card-title m-t-10">Gestion des Suivis</h4>
										</div>
										<div class="ml-auto">
											<input type="text" id="demo-input-search2"
												placeholder="recherche par nom" onkeyup="searchOnType()"
												class="form-control">
										</div>
									</div>
								</div>
								<div class="table-responsive">
									<table id="demo-foo-addrow" class="table color-bordered-table inverse-bordered-table"
									data-paging="true" data-paging-size="7">
										<thead>
											<tr>
												<th>N°</th>
												<th>Date</th>
												<th>Operation</th>
												<th>Inscription</th>
												<th>Notification</th>
												<th>Action</th>
												<!--  <th>Responsable</th>
                                                <th>Engin</th>  -->

											</tr>
										</thead>
										<tbody id="myTableBody">
											<tr th:each="suivis : ${suivis}">
												<td th:text="${suivis.idInscription}">id</td>
												<td th:text="${suivis.date}">Date</td>
												<td th:text="${suivis.operation}">Operation</td>
												<td th:text="${suivis.inscription}">Operation</td>
												<td th:text="${suivis.notification}">Notification</td>
												<td>
													 <div class="btn-group">
                                                        <button type="button" class="btn btn-dark dropdown-toggle"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                            <i class="ti-settings"></i>
                                                        </button>
                                                      <!--   <div class="dropdown-menu animated slideInUp"
                                                            x-placement="bottom-start"
                                                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                                                            <a class="dropdown-item" th:href="@{'/document/edit/' + ${document.idDocument}}"><i class="ti-pencil-alt"></i> Modifier</a>
														    <a class="dropdown-item" th:href="@{'/document/edit/'+ ${document.idDocument}}"><i class="ti-pencil-alt"></i> Supprimer</a>   
                                                        </div>
                                                    </div>
                                                    --> 
												</td>

												<!--                                                 <td th:text=""><span class="label label-danger">admin</span> </td> -->
											</tr>
										</tbody>
									</table>
								</div>

							</div>
						</div>
					</div>
				</div>
</body>
</html>