<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Envoyer une notification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <div class="container my-5">
        <h3> Faire une nouvelle demande Admission</h3>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/admission/save}" th:object="${admission}" method="post">
                        <div class="row">
                        
                             <div class="form-group col-md-8">
                                <label for="nom" class="col-form-label">Date</label> <input type="text" th:field="*{operation}" class="text-danger"></span>
                            </div> 
                             <div class="form-group col-md-8">
                                <label for="nom" class="col-form-label">Operation</label> <input type="text" th:field="*{etat}" class="text-danger"></span>
                            </div>          
                            <!--  
							 <div class="col-md-4">
                                   <label for="engin">Choisir une notification :</label>
                                        <div>  
                                        <select th:field="*{inscription}">
								  			<option th:each="inscription : ${inscriptionlist}" th:value="${inscription.idInscription}" th:text = "${inscription.idInscription}">
								  		</select>
								  	 </div> 
                                        </div>
                              -->
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-success" value="Envoyer">
                            </div>
                            <div class="form-group col-md-8"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>