<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Institut Polytechnique Privé de casablanca</title>
	<!-- Bootstrap core CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous" />
    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
    <link th:href="@{css/style1.css}" rel="stylesheet" />
    
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    
    
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                    	<div th:if="${userExistant}" class="alert alert-success"
          					role="alert" th:text=${userExistant}></div>
          			<div th:if="${inscrip}" class="alert alert-success"
          					role="alert" > <h4 th:text=${inscrip}></h4> </div>	
          			<div th:if="${valdate}" class="alert alert-success"
          					role="alert" > <h4 th:text=${valdate}></h4> </div>				
          					
                        <h2 class="form-title">Inscription</h2>
                        <div id="passwordForm">
                        <form th:object="${user}" method="POST" th:action="@{/registrationUser}"  data-toggle="validator" class="register-form" id="register-form">
                           
                            <div class="form-group">
                            	
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" th:field="*{nom}" name="name" id="name" placeholder="Votre nom" required/>
                            </div>
                             <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" th:field="*{prenom}" name="name" id="name" placeholder="Votre prenom" required/>
                            </div>
                             <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" th:field="*{username}" name="name" id="name" placeholder="Votre pseudo" required/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" th:field="*{email}" name="email" id="email" placeholder="Votre Email" required/>
                            </div>
                         
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" th:field="*{password}" name="pass" id="password"  placeholder="Votre mot de passe" />
                            	
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input id="confirm_password" type="password" name="re_pass"  placeholder="Repetez votre mot de passe" required="required"  />
                            	<span id='message'></span>
                            </div>
                            <!-- <div class="form-group ">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>j'accepte toutes les conditions <a href="#" class="term-service">d'utilisation</a></label>
                            </div> -->
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                        </div>
                    </div>
                    <div class="signup-image">
                        <figure><img src="images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="#" class="signup-image-link">Je suis déjà inscrit</a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <!-- Bootstrap Validator plugin -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <!-- jQuery-->
  <script
    src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Bootstrap -->
  <script
    src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

  <!-- Bootstrap Validator plugin -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
    <script type="text/javascript">
    
    $('#password, #confirm_password').on('keyup', function () {
    	  if ($('#password').val() == $('#confirm_password').val()) {
    	    $('#message').html('Les deux mots de passe sont identiques ').css('color', 'green');
    	  } else 
    	    $('#message').html('Les deux mots de passe sont differents ').css('color', 'red');
    	});
    </script>
</body>
</html>